@import "variables";

// Formal styling only coloring and measurments for nav bar structure

nav {
    font-family: $font_text;
    font-size: $font_btn_size;
    letter-spacing: 0;
    display: inline-block;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2,75rem ;
}
nav>img{
    margin: 1rem;
    grid-column: 1/2;
    grid-row: 1/2;
}
nav>input,
nav>label{
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
}
nav>input{
    display: none;
}

// Styling for navegation links

.buttons_nav{
    display: none;
    grid-column: 1/3;
    grid-row: 2/3;
}
.btn_nav {
    display: block;
    text-decoration: none;
    color: $color_font_contrast;
    padding: 1rem 1rem;
    background: $back_color_figure;
}
.menu_toggle:checked ~ .buttons_nav {
     display: block;    
}

// Hamburguer menu styling

label{
    margin: 1rem 0rem;
    cursor: pointer;
}
.menu_toggle_label>span {
    width: 18px;
    height: 2px;
    display: block;
    background-color: #000000;
    margin: .2rem 1rem;
    transition: transform 0.5s;
}

// Animation styling Hamburguer menu

#menu_toggle:checked ~ label>span:first-child{
    transform: rotate(45deg);
}
#menu_toggle:checked ~ label>span:nth-last-child(2){
    display: none;
}
#menu_toggle:checked ~ label>span:last-child{
    transform-origin: left;
    transform: rotate(-45deg) translate(0px, 2px);
}

@media (min-width:900px) {
    a:hover:active{
        color: #060a247a;
        text-decoration: line-through;
    }
    .btn_nav{
        &:hover{
        color: $color_btn_norm ;
        text-decoration: line-through;
        }
    }
    .btn_nav{
        display: inline;
        text-decoration: none;
        color: $color_font_dark;
        padding: 1rem 1rem;
        background: none; 
    }
    .buttons_nav{
        display: flex;
        justify-content: flex-end;
        align-content: center;
        grid-column: 2/3;
        grid-row:1/2;
        a:last-child{
            padding: 1rem 6.25rem 1rem 1rem;
        }
    }
    .menu_toggle_label{
        display: none;
    }
    nav img{
        padding: 0 1rem 0 6.25rem;
        height: 2rem;
        width: 2rem;
    }
}

